
   {% extends 'base.html' %}
   {% block content %}
   {% load static %}    
    <!-- Wrapper -->
    <div class="careerfy-wrapper">

 
        
        <!-- SubHeader -->
        <div class="careerfy-subheader">
            <span class="careerfy-banner-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="careerfy-page-title">
                            <h1>Jobs For Good Programmers</h1>
                            <p>Yes! You make or may not find the right job for you, but that’s ok.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SubHeader -->

        <!-- Main Content -->
        <div class="careerfy-main-content">
            
            <!-- Main Section -->
            <div class="careerfy-main-section careerfy-subheader-form-full">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 careerfy-typo-wrap">
                            <!-- Sub Header Form -->
                            <div class="careerfy-subheader-form">
                                <form class="careerfy-banner-search">
                                    <ul>
                                        <li>
                                            <input value="Job Title, Keywords, or Company" onblur="if(this.value == '') { this.value ='Job Title, Keywords, or Company'; }" onfocus="if(this.value =='Job Title, Keywords, or Company') { this.value = ''; }" type="text">
                                        </li>
                                        <li>
                                            <input value="City, State or ZIP" onblur="if(this.value == '') { this.value ='City, State or ZIP'; }" onfocus="if(this.value =='City, State or ZIP') { this.value = ''; }" type="text">
                                            <i class="careerfy-icon careerfy-location"></i>
                                        </li>
                                        <li>
                                            <div class="careerfy-select-style">
                                                <select>
                                                    <option>Categories</option>
                                                    <option>Categories</option>
                                                    <option>Categories</option>
                                                </select>
                                            </div>
                                        </li>
                                        <li class="careerfy-banner-submit"> <input type="submit" value=""> <i class="careerfy-icon careerfy-search"></i> </li>
                                    </ul>
                                </form>
                            </div>
                            <!-- Sub Header Form -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- Main Section -->

            <!-- Main Section -->
            <div class="careerfy-main-section">
                <div class="container">
                    <div class="row">

                        <div class="careerfy-column-12 careerfy-typo-wrap">
                            <!-- FilterAble -->
                            <div class="careerfy-filterable">
                                <h2>Showing 0-12 of 37 results</h2>
                                <ul>
                                    <li>
                                        <i class="careerfy-icon careerfy-sort"></i>
                                        <div class="careerfy-filterable-select">
                                            <select>
                                                <option>Sort</option>
                                                <option>Sort</option>
                                                <option>Sort</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li><a href="#"><i class="careerfy-icon careerfy-squares"></i> Grid</a></li>
                                    <li><a href="#"><i class="careerfy-icon careerfy-list"></i> List</a></li>
                                </ul>
                            </div>
                            <!-- FilterAble -->
                            <!-- JobGrid -->
                            <div class="careerfy-job careerfy-job-grid">
                                <ul class="careerfy-row">
                                    <li class="careerfy-column-3">
                                        <div class="careerfy-job-grid-wrap">
                                            <figure>
                                                <span class="careerfy-jobtype-label">Freelance</span>
                                                <a href="#"><img src="extra-images/job-grid-logo-1.png" alt=""></a>
                                                <span class="careerfy-featured-label">Featured</span>
                                            </figure>
                                            <div class="careerfy-jobgrid-text">
                                                <div class="careerfy-job-tag"><a href="#">@ Massimo Artemisis</a></div>
                                                <h2><a href="#">PHP Web Software Developer (HTML, CSS)</a></h2>
                                                <ul class="careerfy-job-time">
                                                    <li><a href="#">Sales & Marketing</a></li>
                                                    <li>3 days ago</li>
                                                </ul>
                                                <span class="careerfy-job-location"><i class="careerfy-icon careerfy-maps-and-flags"></i> Netherlands, Rotterdam</span>
                                                <a href="#" class="careerfy-job-like"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="careerfy-column-3">
                                        <div class="careerfy-job-grid-wrap">
                                            <figure>
                                                <span class="careerfy-jobtype-label jobtype-label-green">Part Time</span>
                                                <a href="#"><img src="extra-images/job-grid-logo-2.png" alt=""></a>
                                            </figure>
                                            <div class="careerfy-jobgrid-text">
                                                <div class="careerfy-job-tag"><a href="#">@ Massimo Artemisis</a></div>
                                                <h2><a href="#">Maths Teacher – Second in Department – KS3 & Ks</a></h2>
                                                <ul class="careerfy-job-time">
                                                    <li><a href="#">Sales & Marketing</a></li>
                                                    <li>3 days ago</li>
                                                </ul>
                                                <span class="careerfy-job-location"><i class="careerfy-icon careerfy-maps-and-flags"></i> Netherlands, Rotterdam</span>
                                                <a href="#" class="careerfy-job-like"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="careerfy-column-3">
                                        <div class="careerfy-job-grid-wrap">
                                            <figure>
                                                <span class="careerfy-jobtype-label jobtype-label-blue">Full Time</span>
                                                <a href="#"><img src="extra-images/job-grid-logo-3.png" alt=""></a>
                                            </figure>
                                            <div class="careerfy-jobgrid-text">
                                                <div class="careerfy-job-tag"><a href="#">@ Massimo Artemisis</a></div>
                                                <h2><a href="#">Student Marketing Manager fashion & style</a></h2>
                                                <ul class="careerfy-job-time">
                                                    <li><a href="#">Sales & Marketing</a></li>
                                                    <li>3 days ago</li>
                                                </ul>
                                                <span class="careerfy-job-location"><i class="careerfy-icon careerfy-maps-and-flags"></i> Netherlands, Rotterdam</span>
                                                <a href="#" class="careerfy-job-like"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="careerfy-column-3">
                                        <div class="careerfy-job-grid-wrap">
                                            <figure>
                                                <span class="careerfy-jobtype-label jobtype-label-red">Temporary</span>
                                                <a href="#"><img src="extra-images/job-grid-logo-4.png" alt=""></a>
                                            </figure>
                                            <div class="careerfy-jobgrid-text">
                                                <div class="careerfy-job-tag"><a href="#">@ Massimo Artemisis</a></div>
                                                <h2><a href="#">Heathens by Twenty One Pilots – Fingerstyle Cover</a></h2>
                                                <ul class="careerfy-job-time">
                                                    <li><a href="#">Sales & Marketing</a></li>
                                                    <li>3 days ago</li>
                                                </ul>
                                                <span class="careerfy-job-location"><i class="careerfy-icon careerfy-maps-and-flags"></i> Netherlands, Rotterdam</span>
                                                <a href="#" class="careerfy-job-like"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="careerfy-column-3">
                                        <div class="careerfy-job-grid-wrap">
                                            <figure>
                                                <span class="careerfy-jobtype-label jobtype-label-green">Part Time</span>
                                                <a href="#"><img src="extra-images/job-grid-logo-5.png" alt=""></a>                                                
                                            </figure>
                                            <div class="careerfy-jobgrid-text">
                                                <div class="careerfy-job-tag"><a href="#">@ Massimo Artemisis</a></div>
                                                <h2><a href="#">Brand Sales Manager Beauty Product Sales</a></h2>
                                                <ul class="careerfy-job-time">
                                                    <li><a href="#">Sales & Marketing</a></li>
                                                    <li>3 days ago</li>
                                                </ul>
                                                <span class="careerfy-job-location"><i class="careerfy-icon careerfy-maps-and-flags"></i> Netherlands, Rotterdam</span>
                                                <a href="#" class="careerfy-job-like"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="careerfy-column-3">
                                        <div class="careerfy-job-grid-wrap">
                                            <figure>
                                                <span class="careerfy-jobtype-label">Freelance</span>
                                                <a href="#"><img src="extra-images/job-grid-logo-6.png" alt=""></a>
                                            </figure>
                                            <div class="careerfy-jobgrid-text">
                                                <div class="careerfy-job-tag"><a href="#">@ Massimo Artemisis</a></div>
                                                <h2><a href="#">Freelance Designer/Digital Designer</a></h2>
                                                <ul class="careerfy-job-time">
                                                    <li><a href="#">Sales & Marketing</a></li>
                                                    <li>3 days ago</li>
                                                </ul>
                                                <span class="careerfy-job-location"><i class="careerfy-icon careerfy-maps-and-flags"></i> Netherlands, Rotterdam</span>
                                                <a href="#" class="careerfy-job-like"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="careerfy-column-3">
                                        <div class="careerfy-job-grid-wrap">
                                            <figure>
                                                <span class="careerfy-jobtype-label jobtype-label-red">Temporary</span>
                                                <a href="#"><img src="extra-images/job-grid-logo-7.png" alt=""></a>
                                            </figure>
                                            <div class="careerfy-jobgrid-text">
                                                <div class="careerfy-job-tag"><a href="#">@ Massimo Artemisis</a></div>
                                                <h2><a href="#">BPSS Cleared Marketing Manager</a></h2>
                                                <ul class="careerfy-job-time">
                                                    <li><a href="#">Sales & Marketing</a></li>
                                                    <li>3 days ago</li>
                                                </ul>
                                                <span class="careerfy-job-location"><i class="careerfy-icon careerfy-maps-and-flags"></i> Netherlands, Rotterdam</span>
                                                <a href="#" class="careerfy-job-like"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="careerfy-column-3">
                                        <div class="careerfy-job-grid-wrap">
                                            <figure>
                                                <span class="careerfy-jobtype-label">Freelance</span>
                                                <a href="#"><img src="extra-images/job-grid-logo-8.png" alt=""></a>
                                            </figure>
                                            <div class="careerfy-jobgrid-text">
                                                <div class="careerfy-job-tag"><a href="#">@ Massimo Artemisis</a></div>
                                                <h2><a href="#">Java Developer Python AI Scientific</a></h2>
                                                <ul class="careerfy-job-time">
                                                    <li><a href="#">Sales & Marketing</a></li>
                                                    <li>3 days ago</li>
                                                </ul>
                                                <span class="careerfy-job-location"><i class="careerfy-icon careerfy-maps-and-flags"></i> Netherlands, Rotterdam</span>
                                                <a href="#" class="careerfy-job-like"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="careerfy-column-3">
                                        <div class="careerfy-job-grid-wrap">
                                            <figure>
                                                <span class="careerfy-jobtype-label">Freelance</span>
                                                <a href="#"><img src="extra-images/job-grid-logo-9.png" alt=""></a>
                                            </figure>
                                            <div class="careerfy-jobgrid-text">
                                                <div class="careerfy-job-tag"><a href="#">@ Massimo Artemisis</a></div>
                                                <h2><a href="#">iOS Developer Senior OOP Objective-C Swift</a></h2>
                                                <ul class="careerfy-job-time">
                                                    <li><a href="#">Sales & Marketing</a></li>
                                                    <li>3 days ago</li>
                                                </ul>
                                                <span class="careerfy-job-location"><i class="careerfy-icon careerfy-maps-and-flags"></i> Netherlands, Rotterdam</span>
                                                <a href="#" class="careerfy-job-like"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="careerfy-column-3">
                                        <div class="careerfy-job-grid-wrap">
                                            <figure>
                                                <span class="careerfy-jobtype-label jobtype-label-blue">Full Time</span>
                                                <a href="#"><img src="extra-images/job-grid-logo-10.png" alt=""></a>
                                            </figure>
                                            <div class="careerfy-jobgrid-text">
                                                <div class="careerfy-job-tag"><a href="#">@ Massimo Artemisis</a></div>
                                                <h2><a href="#">Ozzy Osbourne Mama I’m Coming Home</a></h2>
                                                <ul class="careerfy-job-time">
                                                    <li><a href="#">Sales & Marketing</a></li>
                                                    <li>3 days ago</li>
                                                </ul>
                                                <span class="careerfy-job-location"><i class="careerfy-icon careerfy-maps-and-flags"></i> Netherlands, Rotterdam</span>
                                                <a href="#" class="careerfy-job-like"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="careerfy-column-3">
                                        <div class="careerfy-job-grid-wrap">
                                            <figure>
                                                <span class="careerfy-jobtype-label">Freelance</span>
                                                <a href="#"><img src="extra-images/job-grid-logo-11.png" alt=""></a>
                                            </figure>
                                            <div class="careerfy-jobgrid-text">
                                                <div class="careerfy-job-tag"><a href="#">@ Massimo Artemisis</a></div>
                                                <h2><a href="#">German Speaking Team Leader</a></h2>
                                                <ul class="careerfy-job-time">
                                                    <li><a href="#">Sales & Marketing</a></li>
                                                    <li>3 days ago</li>
                                                </ul>
                                                <span class="careerfy-job-location"><i class="careerfy-icon careerfy-maps-and-flags"></i> Netherlands, Rotterdam</span>
                                                <a href="#" class="careerfy-job-like"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="careerfy-column-3">
                                        <div class="careerfy-job-grid-wrap">
                                            <figure>
                                                <span class="careerfy-jobtype-label jobtype-label-green">Part Time</span>
                                                <a href="#"><img src="extra-images/job-grid-logo-12.png" alt=""></a>                                                
                                            </figure>
                                            <div class="careerfy-jobgrid-text">
                                                <div class="careerfy-job-tag"><a href="#">@ Massimo Artemisis</a></div>
                                                <h2><a href="#">Commercial Mortgage Underwriter</a></h2>
                                                <ul class="careerfy-job-time">
                                                    <li><a href="#">Sales & Marketing</a></li>
                                                    <li>3 days ago</li>
                                                </ul>
                                                <span class="careerfy-job-location"><i class="careerfy-icon careerfy-maps-and-flags"></i> Netherlands, Rotterdam</span>
                                                <a href="#" class="careerfy-job-like"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- Pagination -->
                            <div class="careerfy-pagination-blog">
                                <ul class="page-numbers">
                                    <li><a class="prev page-numbers" href="#"><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                                    <li><span class="page-numbers current">01</span></li>
                                    <li><a class="page-numbers" href="#">02</a></li>
                                    <li><a class="page-numbers" href="#">03</a></li>
                                    <li><a class="page-numbers" href="#">04</a></li>
                                    <li><a class="next page-numbers" href="#"><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Main Section -->

        </div>
        <!-- Main Content -->
        

    </div>
    <!-- Wrapper -->

    <!-- ModalLogin Box -->
    <div class="careerfy-modal fade careerfy-typo-wrap" id="JobSearchModalSignup">
        <div class="modal-inner-area">&nbsp;</div>
        <div class="modal-content-area">
            <div class="modal-box-area">

                <div class="careerfy-modal-title-box">
                    <h2>Login to your account</h2>
                    <span class="modal-close"><i class="fa fa-times"></i></span>
                </div>
                <form>
                    <div class="careerfy-box-title">
                        <span>Choose your Account Type</span>
                    </div>
                    <div class="careerfy-user-options">
                        <ul>
                            <li class="active">
                                <a href="#">
                                     <i class="careerfy-icon careerfy-user"></i>
                                     <span>Candidate</span>
                                     <small>I want to discover awesome companies.</small>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                     <i class="careerfy-icon careerfy-building"></i>
                                     <span>Employer</span>
                                     <small>I want to attract the best talent.</small>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="careerfy-user-form">
                        <ul>
                            <li>
                                <label>Email Address:</label>
                                <input value="Enter Your Email Address" onblur="if(this.value == '') { this.value ='Enter Your Email Address'; }" onfocus="if(this.value =='Enter Your Email Address') { this.value = ''; }" type="text">
                                <i class="careerfy-icon careerfy-mail"></i>
                            </li>
                            <li>
                                <label>Password:</label>
                                <input value="Enter Password" onblur="if(this.value == '') { this.value ='Enter Password'; }" onfocus="if(this.value =='Enter Password') { this.value = ''; }" type="text">
                                <i class="careerfy-icon careerfy-multimedia"></i>
                            </li>
                            <li>
                                <input type="submit" value="Sign In">
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="careerfy-user-form-info">
                            <p>Forgot Password? | <a href="#">Sign Up</a></p>
                            <div class="careerfy-checkbox">
                                <input type="checkbox" id="r10" name="rr" />
                                <label for="r10"><span></span> Remember Password</label>
                            </div>
                        </div>
                    </div>
                    <div class="careerfy-box-title careerfy-box-title-sub">
                        <span>Or Sign In With</span>
                    </div>
                    <div class="clearfix"></div>
                    <ul class="careerfy-login-media">
                        <li><a href="#"><i class="fa fa-facebook"></i> Sign In with Facebook</a></li>
                        <li><a href="#" data-original-title="google"><i class="fa fa-google"></i> Sign In with Google</a></li>
                        <li><a href="#" data-original-title="twitter"><i class="fa fa-twitter"></i> Sign In with Twitter</a></li>
                        <li><a href="#" data-original-title="linkedin"><i class="fa fa-linkedin"></i> Sign In with LinkedIn</a></li>
                    </ul>
                </form>
                
            </div>
        </div>
    </div>
    <!-- Modal Signup Box -->
    <div class="careerfy-modal fade careerfy-typo-wrap" id="JobSearchModalLogin">
        <div class="modal-inner-area">&nbsp;</div>
        <div class="modal-content-area">
            <div class="modal-box-area">

                <div class="careerfy-modal-title-box">
                    <h2>Signup to your account</h2>
                    <span class="modal-close"><i class="fa fa-times"></i></span>
                </div>
                <form>
                    <div class="careerfy-box-title">
                        <span>Choose your Account Type</span>
                    </div>
                    <div class="careerfy-user-options">
                        <ul>
                            <li class="active">
                                <a href="#">
                                     <i class="careerfy-icon careerfy-user"></i>
                                     <span>Candidate</span>
                                     <small>I want to discover awesome companies.</small>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                     <i class="careerfy-icon careerfy-building"></i>
                                     <span>Employer</span>
                                     <small>I want to attract the best talent.</small>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="careerfy-user-form careerfy-user-form-coltwo">
                        <ul>
                            <li>
                                <label>First Name:</label>
                                <input value="Enter Your Name" onblur="if(this.value == '') { this.value ='Enter Your Name'; }" onfocus="if(this.value =='Enter Your Name') { this.value = ''; }" type="text">
                                <i class="careerfy-icon careerfy-user"></i>
                            </li>
                            <li>
                                <label>Last Name:</label>
                                <input value="Enter Your Name" onblur="if(this.value == '') { this.value ='Enter Your Name'; }" onfocus="if(this.value =='Enter Your Name') { this.value = ''; }" type="text">
                                <i class="careerfy-icon careerfy-user"></i>
                            </li>
                            <li>
                                <label>Email Address:</label>
                                <input value="Enter Your Email Address" onblur="if(this.value == '') { this.value ='Enter Your Email Address'; }" onfocus="if(this.value =='Enter Your Email Address') { this.value = ''; }" type="text">
                                <i class="careerfy-icon careerfy-mail"></i>
                            </li>
                            <li>
                                <label>Phone Number:</label>
                                <input value="Enter Your Phone Number" onblur="if(this.value == '') { this.value ='Enter Your Phone Number'; }" onfocus="if(this.value =='Enter Your Phone Number') { this.value = ''; }" type="text">
                                <i class="careerfy-icon careerfy-technology"></i>
                            </li>
                            <li class="careerfy-user-form-coltwo-full">
                                <label>Categories:</label>
                                <div class="careerfy-profile-select">
                                    <select>
                                        <option>Sales & Marketing</option>
                                        <option>Sales & Marketing</option>
                                    </select>
                                </div>
                            </li>
                            <li class="careerfy-user-form-coltwo-full">
                                <img src="extra-images/login-robot.png" alt="">
                            </li>
                            <li class="careerfy-user-form-coltwo-full">
                                <input type="submit" value="Sign Up">
                            </li>
                        </ul>
                    </div>
                    <div class="careerfy-box-title careerfy-box-title-sub">
                        <span>Or Sign Up With</span>
                    </div>
                    <div class="clearfix"></div>
                    <ul class="careerfy-login-media">
                        <li><a href="#"><i class="fa fa-facebook"></i> Sign In with Facebook</a></li>
                        <li><a href="#" data-original-title="google"><i class="fa fa-google"></i> Sign In with Google</a></li>
                        <li><a href="#" data-original-title="twitter"><i class="fa fa-twitter"></i> Sign In with Twitter</a></li>
                        <li><a href="#" data-original-title="linkedin"><i class="fa fa-linkedin"></i> Sign In with LinkedIn</a></li>
                    </ul>
                </form>
                
            </div>
        </div>
    </div>

   {% endblock %}