
   {% extends 'base.html' %}
   {% block content %}
   {% load static %}    
    <!-- Wrapper -->
    <div class="careerfy-wrapper">

 
        
        <!-- SubHeader -->
        <div class="careerfy-subheader">
            <span class="careerfy-banner-transparent"></span>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="careerfy-page-title">
                            <h1>Jobs For Good Programmers</h1>
                            <p>Yes! You make or may not find the right job for you, but that’s ok.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SubHeader -->

        <!-- Main Content -->
        <div class="careerfy-main-content">
            
            <!-- Main Section -->
            <div class="careerfy-main-section careerfy-subheader-form-full">
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 careerfy-typo-wrap">
                            <!-- Sub Header Form -->
                            <div class="careerfy-subheader-form">
                                <form class="careerfy-banner-search">
                                    <ul>
                                        <li>
                                            <input value="Job Title, Keywords, or Company" onblur="if(this.value == '') { this.value ='Job Title, Keywords, or Company'; }" onfocus="if(this.value =='Job Title, Keywords, or Company') { this.value = ''; }" type="text">
                                        </li>
                                        <li>
                                            <input value="City, State or ZIP" onblur="if(this.value == '') { this.value ='City, State or ZIP'; }" onfocus="if(this.value =='City, State or ZIP') { this.value = ''; }" type="text">
                                            <i class="careerfy-icon careerfy-location"></i>
                                        </li>
                                        <li>
                                            <div class="careerfy-select-style">
                                                <select>
                                                    <option>Categories</option>
                                                    <option>Categories</option>
                                                    <option>Categories</option>
                                                </select>
                                            </div>
                                        </li>
                                        <li class="careerfy-banner-submit"> <input type="submit" value=""> <i class="careerfy-icon careerfy-search"></i> </li>
                                    </ul>
                                </form>
                            </div>
                            <!-- Sub Header Form -->
                        </div>

                    </div>
                </div>
            </div>
            <!-- Main Section -->

            <!-- Main Section -->
            <div class="careerfy-main-section">
                <div class="container">
                    <div class="row">

                        <div class="careerfy-column-12 careerfy-typo-wrap">
                           
                            <!-- JobGrid -->
                            <div class="careerfy-job careerfy-job-grid">
                              
                                <ul class="careerfy-row">
                                    {% for list in joblist %}
                                    <li class="careerfy-column-3">
                                        <div class="careerfy-job-grid-wrap">
                                            <figure>
                                                <span class="careerfy-jobtype-label">{{list.employment_status}}</span>
                                                <a href="{{ list.get_absolute_url }}"><img src="{{ list.get_photo_url}}" alt=""></a>
                                                <!-- <a href="{{ list.get_absolute_url }}"><img src="{% static 'extra-images/employer-2.png' %}" alt=""></a> -->
                                               
                                            </figure>
                                            <div class="careerfy-jobgrid-text">
                                                <!-- <div class="careerfy-job-tag"><a href="#">@ Massimo Artemisis</a></div> -->
                                                <h2><a href="{{ list.get_absolute_url }}">{{list.title}}</a></h2>
                                                <ul class="careerfy-job-time">
                                                    {% for cat in list.category.all %}
                                                    <li><a href="#">{{cat}}</a></li>
                                                    {% endfor %}  
                                                    <li>{{list.published_on|date:"F d, Y"}}</li>
                                                </ul>
                                                <span class="careerfy-job-location"><i class="careerfy-icon careerfy-maps-and-flags"></i> {{list.job_location}}</span>
                                                <a href="#" class="careerfy-job-like"><i class="fa fa-heart"></i></a>
                                            </div>
                                        </div>
                                    </li>
                                   
                                 
                                    {% endfor %}  
                                </ul>
                               
                                  
                            </div>
                            <!-- Pagination -->
                            <div class="careerfy-pagination-blog">
                                <ul class="page-numbers">
                                    <li><a class="prev page-numbers" href="#"><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                                    <li><span class="page-numbers current">01</span></li>
                                    <li><a class="page-numbers" href="#">02</a></li>
                                    <li><a class="page-numbers" href="#">03</a></li>
                                    <li><a class="page-numbers" href="#">04</a></li>
                                    <li><a class="next page-numbers" href="#"><span><i class="careerfy-icon careerfy-arrows4"></i></span></a></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Main Section -->

        </div>
        <!-- Main Content -->
        

    </div>
    <!-- Wrapper -->

    

   {% endblock %}