    
   {% extends 'base.html' %}
   {% block content %}
   {% load static %}   
    <!-- ModalLogin Box -->
    
    
    <!-- Modal Signup Box -->
    <div class="careerfy-wrapper">
        <div class="careerfy-modal careerfy-typo-wrap" id="JobSearchModalLogin">
            <div class="modal-inner-area">&nbsp;</div>
            <div class="modal-content-area">
                <div class="modal-box-area">
    
                    <div class="careerfy-modal-title-box">
                        <h2>Signup to your account</h2>
                        <span class="modal-close"><i class="fa fa-times"></i></span>
                    </div>
                    <form>
                        <div class="careerfy-box-title">
                            <span>Choose your Account Type</span>
                        </div>
                        <div class="careerfy-user-options">
                            <ul>
                                <li class="active">
                                    <a href="#">
                                         <i class="careerfy-icon careerfy-user"></i>
                                         <span>Candidate</span>
                                         <small>I want to discover awesome companies.</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                         <i class="careerfy-icon careerfy-building"></i>
                                         <span>Employer</span>
                                         <small>I want to attract the best talent.</small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="careerfy-user-form careerfy-user-form-coltwo">
                            <ul>
                                <li>
                                    <label>First Name:</label>
                                    <input value="Enter Your Name" onblur="if(this.value == '') { this.value ='Enter Your Name'; }" onfocus="if(this.value =='Enter Your Name') { this.value = ''; }" type="text">
                                    <i class="careerfy-icon careerfy-user"></i>
                                </li>
                                <li>
                                    <label>Last Name:</label>
                                    <input value="Enter Your Name" onblur="if(this.value == '') { this.value ='Enter Your Name'; }" onfocus="if(this.value =='Enter Your Name') { this.value = ''; }" type="text">
                                    <i class="careerfy-icon careerfy-user"></i>
                                </li>
                                <li>
                                    <label>Email Address:</label>
                                    <input value="Enter Your Email Address" onblur="if(this.value == '') { this.value ='Enter Your Email Address'; }" onfocus="if(this.value =='Enter Your Email Address') { this.value = ''; }" type="text">
                                    <i class="careerfy-icon careerfy-mail"></i>
                                </li>
                                <li>
                                    <label>Phone Number:</label>
                                    <input value="Enter Your Phone Number" onblur="if(this.value == '') { this.value ='Enter Your Phone Number'; }" onfocus="if(this.value =='Enter Your Phone Number') { this.value = ''; }" type="text">
                                    <i class="careerfy-icon careerfy-technology"></i>
                                </li>
                                <li class="careerfy-user-form-coltwo-full">
                                    <label>Categories:</label>
                                    <div class="careerfy-profile-select">
                                        <select>
                                            <option>Sales & Marketing</option>
                                            <option>Sales & Marketing</option>
                                        </select>
                                    </div>
                                </li>
                                <li class="careerfy-user-form-coltwo-full">
                                    <img src="extra-images/login-robot.png" alt="">
                                </li>
                                <li class="careerfy-user-form-coltwo-full">
                                    <input type="submit" value="Sign Up">
                                </li>
                            </ul>
                        </div>
                        <div class="careerfy-box-title careerfy-box-title-sub">
                            <span>Or Sign Up With</span>
                        </div>
                        <div class="clearfix"></div>
                        <ul class="careerfy-login-media">
                            <li><a href="#"><i class="fa fa-facebook"></i> Sign In with Facebook</a></li>
                            <li><a href="#" data-original-title="google"><i class="fa fa-google"></i> Sign In with Google</a></li>
                            <li><a href="#" data-original-title="twitter"><i class="fa fa-twitter"></i> Sign In with Twitter</a></li>
                            <li><a href="#" data-original-title="linkedin"><i class="fa fa-linkedin"></i> Sign In with LinkedIn</a></li>
                        </ul>
                    </form>
                    
                </div>
            </div>
        </div>
        </div>
  
{% endblock %}