{% extends 'base.html' %}
{% block content %}
{% load static %}   
<!-- ModalLogin Box -->
<div class="careerfy-moda container careerfy-typo-wrap" id="JobSearchModalSignup">
    <div class="modal-inner-area">&nbsp;</div>
    <div class="modal-content-area">
        <div class="modal-box-area">

            <div class="careerfy-modal-title-box">
                <h2>Login to your account</h2>
                <!-- <span class="modal-close"><i class="fa fa-times"></i></span> -->
            </div>
            <form action="" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        <label for="id_{{ field.name }}">{{ field.label }}</label>
                        <input type="{{ field.field.widget.input_type }}"
                               class="form-control"
                               name="{{ field.name }}"
                               id="id_{{ field.name }}"
                               placeholder="{{ field.field.widget.attrs.placeholder }}">
                    </div>
                {% endfor %}
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mb-5"><i class="fa fa-sign-in"></i> Log in
                    </button>
                </div>
            </form>
           
            
        </div>
    </div>
</div>
<!-- Modal Signup Box -->
{% endblock %}