{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}



{% block content %}
{% load crispy_forms_tags %}
   
 <div class="careerfy-wrapper">

        
    <!-- SubHeader -->
    <div class="careerfy-subheader careerfy-subheader-without-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="careerfy-page-title">
                        <h1>Companies</h1>
                        <p>Thousands of prestigious employers for you, search for a recruiter right now.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="careerfy-breadcrumb">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li>Candidates</li>
            </ul>
        </div>
    </div>
    <!-- SubHeader -->

    <!-- Main Content -->
    <div class="careerfy-main-content">
        
        <!-- Main Section -->
        <div class="careerfy-main-section careerfy-dashboard-fulltwo">
            <div class="container">
                <div class="row">

                    {% include 'employeer/sidebar.html' %}
                    <div class="careerfy-column-9">
                        <div class="careerfy-typo-wrap">
                            <div class="careerfy-employer-dasboard">
                                <section class="bg-light-gray">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-8 mx-auto">
                                                <h1 class="heading">Add a new position</h1>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <form method="POST" class="post-form">
                                    {% csrf_token %}
                                    {{ form|crispy }}
                                    <button type="submit" class="save btn btn-default">Save</button>
                                </form>
                               
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Main Section -->

    </div>
    <!-- Main Content -->


</div>
<!-- Wrapper -->
{% endblock %}